<!DOCTYPE html>
<html>
<head>
<title>WeBlog | Home</title>
<link rel="stylesheet" type="text/css" href=" http://getbootstrap.com/2.3.2/assets/css/bootstrap.css">
<link rel="icon" href="https://avatars2.githubusercontent.com/u/332874?v=2&s=200">
<style>
body
{
  background: #e1e1e1;
}

.nav li a{
  font-size : 20px;
  color : #222;
}

.nav{
  margin-top : 10px;
}

.header
{
  border-bottom : solid 2px #efefef;
}

.copyright{
  text-align : center;
  color: #222;
  font-size : 14px;
  display : block;
  margin-top: 20px;
}

.footer{
  border-top : solid 2px #efefef;
  margin-top: 80px;
}

.heading
{
  font-size: 48px;
  color : #0088cc;
  text-align: center;
  line-height: 38px;
}

.messageHome
{
  font-size: 22px;
  text-align: center;
  margin-top: 30px;
  color: #222;
}

.messageAbout
{
  font-size: 20px;
  color: #222;
  text-align: center;
  margin-top: 30px;
  line-height: 34px;
}

.btn
{
  padding: 20px 20px;
  font-size: 20px;
  font-weight: bold;
}

.homeButton
{
  font-size: 20px;
}

.btn-div{
  margin-top: 20px;
}

.content
{
  margin-top: 60px;
}

.headingContact
{
  font-size: 36px;
  color : #0088cc;
  text-align: center;
  line-height: 48px;
}

.messageContact
{
  font-size: 20px;
  color: #222;
  text-align: center;
  margin-top: 20px;
  line-height: 30px;
}
.textbox {
    border: 1px dotted #000000;
    outline:0;
    height:200px;
    width: 475px;
    display: block;
  }

.showPost
{
  margin-left: 150px;
}

.titleBox
{
  width: 275px;
}

textarea
{
  resize:none;
}
</style>
<script>
  function validateForm(){
    validate_flag = true;
    var post_title = document.forms["post_form"]["title"].value.trim();
    var post_content = document.forms["post_form"]["content"].value.trim();
    post_length = post_title.length;
    content_length = post_content.length;
    if ((post_title == null || post_title == "")  && (post_content == null || post_content == "")){
      alert("Title and content of post is missing..!");
      validate_flag = false;
      return false;
    }
    else if (( post_title != null || post_title != "") && (post_content == null || post_content == "")){
      alert("Content of post is missing..!");
      validate_flag = false;
      document.getElementById("post_form_id").reset();
      return false;
    }
    else if (( post_content != null || post_content != "") && (post_title == null || post_title == "")){
      alert("Title of post is missing..!");
      validate_flag = false;
      document.getElementById("post_form_id").reset();
      return false;
    }
    if (post_length > 255){
      alert("You have exceed the word limit..!(max. 255)");
      validate_flag = false;
      document.getElementById("post_form_id").reset();
      return false;
    }
    if (content_length > 1000){
      alert("You have exceed the word limit..!(max. 1000)");
      validate_flag = false;
      document.getElementById("post_form_id").reset();
      return false;
    }
    if(validate_flag == true)
    {
      return true;
    }
  }
</script>
</head>
  <body>
    <div class="header">
      <div class="container">
        <ul class="nav nav-pills">
          <li class = "active">
            <a class = "logo" href="/">WeBlog</a>
          </li>
          <li >
            <a href="/about">About Us</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
    </div>
  </div>

  <%= yield %>

  <div class="footer">
    <div class="container">
        <span class="copyright">&copy All rights reserved Weblog 2014</span>
    </div>
  </div>
  </body>
</html>