body
{
  background: #e1e1e1;
}
a
{
  text-decoration: none;
}
textarea
{
  resize:none;
  width: 400px;
  height: 50px;
}

.nav li a{
  font-size : 20px;
  color : #222;
}

.nav{
  margin-top : 10px;
}

.header
{
  border-bottom : solid 2px #efefef;
}

.copyright{
  text-align : center;
  color: #222;
  font-size : 14px;
  display : block;
  margin-top: 20px;
}

.footer{
  border-top : solid 2px #efefef;
  margin-top: 80px;
}

.heading
{
  font-size: 48px;
  color : #0088cc;
  text-align: center;
  line-height: 38px;
}

.messageHome
{
  font-size: 22px;
  text-align: center;
  margin-top: 30px;
  color: #222;
}

.messageAbout
{
  font-size: 20px;
  color: #222;
  text-align: center;
  margin-top: 30px;
  line-height: 34px;
}

.btn
{
  padding: 20px 20px;
  font-size: 20px;
  font-weight: bold;
}

.homeButton
{
  font-size: 20px;
}

.btn-div{
  margin-top: 20px;
}

.content
{
  margin-top: 60px;
}

.headingContact
{
  font-size: 36px;
  color : #0088cc;
  text-align: center;
  line-height: 48px;
}

.messageContact
{
  font-size: 20px;
  color: #222;
  text-align: center;
  margin-top: 20px;
  line-height: 30px;
}
.textbox {
    border: 1px dotted #000000;
    outline:0;
    height:200px;
    width: 475px;
    display: block;
  }

.showPost
{
  margin-left: 150px;
}

.titleBox
{
  width: 275px;
}

.content ul li {
  bottom-margin : 10px;
}
.postList
{
  margin-top: 40px;

}

.postList li
{
  list-style: none;
}

.postButton
{
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 15px;
}

.postContent
{
  font-size: 16px;
  display: block;
  line-height: 20px;
  padding-top: 30px;
}

.postTitle
{
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;

}
.commentBox
{
  margin-top : 20px;

}

.commentList li
{
  list-style: none;
  font-size: 20px;
  margin-top: 10px;
  display: inline-block;

}

.commentList li span
{
  border-bottom : 2px solid #efefef;
  padding-bottom: 6px;
  display: block;
  width:450px;
}

.searchButton{
  margin-top: 1px;
  border-radius: 30px;
}

.links
{
  font-size: 14px;
  color: #0088cc;
  margin-right: 20px;
}

.postHeading
{
  font-size: 36px;
  margin-top: 60px;
  margin-bottom: 6px;
}

.postList li
{
  list-style: none;
  margin: 18px 0 0px 0;
  border-bottom: 1px solid #efefef;
  padding-bottom: 10px;
}

.contentPost
{
  line-height: 20px;
  font-size: 16px;
  display: block;
  width: 900px;

}
.showTitle
{
  float: left;
  width:270px;
  margin-top: 50px;
  border: 2px solid #efefef;
}

.titleBox
{
  width: 275px;
}

.titlePrint
{
  font-size: 12px;
}