 <!DOCTYPE html>
<html>
<head>
<title>About</title>
<link rel="stylesheet" type="text/css" href=" http://getbootstrap.com/2.3.2/assets/css/bootstrap.css">
<link rel="icon" href="https://avatars2.githubusercontent.com/u/332874?v=2&s=200">
<link rel="stylesheet" type="text/css" href="app/view/asset/WeBlog.css">
<style>

body
{
  background: #e1e1e1;
}

.nav li a{
  font-size : 20px;
  color : #222;
}

.nav{
  margin-top : 10px;
}

.copyright{
  text-align : center;
  font-size : 15px;
  color: #222;
  display : block;
  margin-top: 20px;
}

.header{
  border-bottom : solid 2px #efefef;
}

.footer{
  border-top : solid 2px #efefef;
  margin-top: 60px;
}

.content
{
  margin-top: 60px;
}

.heading
{
  font-size: 48px;
  color : #0088cc;
  text-align: center;
  line-height: 38px;
}

.btn
{
  padding: 20px 20px;
  font-size: 20px;
  font-weight: bold;
}

.btn-div{
  margin-top: 20px;
}
.messageAbout
{
  font-size: 20px;
  color: #222;
  text-align: center;
  margin-top: 30px;
  line-height: 34px;
}
</style>
</head>
  <body>
    <div class="header">
      <div class="container">
        <ul class="nav nav-pills">
          <li>
            <a class = "logo" href="/">WeBlog</a>
          </li>
          <li class = "active">
            <a href="/about">About Us</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
    </div>
  </div>
    <div class="content">
      <div class="container">
        <div class="row">
      <div class = "span12">
      <h1 class = "heading">Welcome to WeBlog Application ! </h1>
      <p class = "messageAbout">WeBlog helps you create and share ideas and information instantly, without barriers.WeBlog is the best way to connect with people, express yourself and discover what's happening. </p>
    </div>
  </div>
  <div class="row btn-div">
      <a class="btn btn-large btn-primary aboutButton span3 offset4" type="button" href="/">GET STARTED !</a>
    </div>
    </div>
  </div>
  </div>
    <div class="footer">
    <div class="container">
      <span class="copyright">&copy All rights reserved Weblog 2014</span>
      </div>
    </div>
  </body>
</html>