<% @title="About Us" %>
<div class="row">
  <div class = "span12">
    <h1 class = "heading">Welcome to WeBlog Application ! </h1>
    <p class = "messageAbout">WeBlog helps you create and share ideas and information instantly, without barriers.WeBlog is the best way to connect with people, express yourself and discover what's happening. </p>
  </div>
</div>
<div class="row btn-div">
  <a class="btn btn-large btn-primary aboutButton span3 offset4" type="button" href="/">GET STARTED !</a>
</div>