<div class="row">
  <div class = "span12">
    <h1 class = "headingContact">Mail us your Feedback and Queries : support@weblog.com</h1>
    <p class = "messageContact">Office Address : Webonise Lab, 3rd Floor, GaloreTech IT Park, Behind Maratha Mandir,Bavdhan Pune-411021 Phone: +91 20-6685-9500 </p>
  </div>
</div>