<!DOCTYPE html>
<head>
<title>Contact</title>
<link rel="stylesheet" type="text/css" href=" http://getbootstrap.com/2.3.2/assets/css/bootstrap.css">
<link rel="icon" href="https://avatars2.githubusercontent.com/u/332874?v=2&s=200">
<style>
.nav li a{
  font-size : 24px;
  color : #2A649;
}

.nav{
  margin-top : 10px;
}

.footer
{
  margin-top: 100px;
}

.footer ul li a{
  font-size : 14px;
  color : #000000;
}

.copyright{
  text-align : center;
  font-size : 14px;
  display : block;
}

.content ul li {
  bottom-margin : 10px;
}


.footer{
  border-top : solid 1px #000000;
}

 .headingContact
{
  font-size: 42px;
  color : #234167;
  text-align: center;
  margin-top: 100px;
  line-height: 54px;
}

.messageContact
{
  font-size: 28px;
  text-align: center;
  margin-top: 40px;
  line-height: 34px;
}
</style>
</head>
  <body>
    <div class="container header">
        <ul class="nav nav-pills">
          <li>
            <a class = "logo" href="/">WeBlog</a>
          </li>
          <li>
            <a href="/about">About Us</a>
          </li>
          <li  class = "active">
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
    </div>
    <div class="container content">
      <div class = "span12">
      <h1 class = "headingContact">Mail us your Feedback and Queries : support@weblog.com</h1>
      <p class = "messageContact">Office Address : Webonise Lab, 3rd Floor, GaloreTech IT Park, Behind Maratha Mandir,Bavdhan Pune-411021 Phone: +91 20-6685-9500 </p>
    </div>
  </div>
    <div class="footer">
    <div class="container">
    <ul class="nav nav-pills">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About Us</a>
          </li>
          <li  class = "active">
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
        <span class="copyright">&copy All rights reserved Weblog 2014</span>
    </div>
  </div>
  </body>
</html>