<!DOCTYPE html>
<head>
<title>Contact</title>
<link rel="stylesheet" type="text/css" href=" http://getbootstrap.com/2.3.2/assets/css/bootstrap.css">
<link rel="icon" href="https://avatars2.githubusercontent.com/u/332874?v=2&s=200">
<style>
body
{
  background: #e1e1e1;
}
.nav li a{
  font-size : 20px;
  color : #222;
}
.nav{
  margin-top : 10px;
}
.header{
  border-bottom: solid 2px #efefef;
}

.footer{
  border-top : solid 2px #efefef;
  margin-top: 60px;
}

.copyright{
  text-align : center;
  font-size : 15px;
  color: #222;
  display : block;
  margin-top: 20px;
}
.content{
  margin-top: 60px;
}
 .headingContact
{
  font-size: 36px;
  color : #0088cc;
  text-align: center;
  line-height: 48px;
}

.messageContact
{
  font-size: 20px;
  color: #222;
  text-align: center;
  margin-top: 20px;
  line-height: 30px;
}
</style>
</head>
  <body>
    <div class="header">
      <div class="container">
        <ul class="nav nav-pills">
          <li>
            <a class = "logo" href="/">WeBlog</a>
          </li>
          <li>
            <a href="/about">About Us</a>
          </li>
          <li  class = "active">
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container content">
      <div class="row">
      <div class = "span12">
      <h1 class = "headingContact">Mail us your Feedback and Queries : support@weblog.com</h1>
      <p class = "messageContact">Office Address : Webonise Lab, 3rd Floor, GaloreTech IT Park, Behind Maratha Mandir,Bavdhan Pune-411021 Phone: +91 20-6685-9500 </p>
    </div>
    </div>
  </div>
    <div class="footer">
    <div class="container">
        <span class="copyright">&copy All rights reserved Weblog 2014</span>
    </div>
  </div>
  </body>
</html>