<!DOCTYPE html>
<head>
<title>Show</title>
<link rel="stylesheet" type="text/css" href=" http://getbootstrap.com/2.3.2/assets/css/bootstrap.css">
<link rel="icon" href="https://avatars2.githubusercontent.com/u/332874?v=2&s=200">
<style>

 body
{
  background: #e1e1e1;
}

.nav li a{
  font-size : 20px;
  color : #222;
}

.nav{
  margin-top : 10px;
}

.header
{
  border-bottom : solid 2px #efefef;
}

.footer
{
  margin-top: 60px;
}

.footer ul li a{
  font-size : 14px;
  color : #000000;
}

.copyright{
  text-align : center;
  color: #222;
  font-size : 14px;
  display : block;
  margin-top: 20px;
}


.content ul li {
  bottom-margin : 10px;
}
.postList
{
  margin-top: 20px;
  font-size: 28px;
}

.postList li
{
  list-style: none;
}

.postList a
{
  text-decoration: none;
}

 .textbox {
    border: 1px dotted #000000;
    outline:0;
    height:200px;
    width: 475px;
    display: block;
  }

.postButton
{
  margin-top: 10px;
}

.footer{
  border-top : solid 2px #efefef;
  margin-top: 60px;
}

.content
{
  margin-top: 60px;
}

.showTitle
{
  margin-top: 50px;
  border: 2px solid #efefef;
}

.showPost
{
  margin-left: 150px;
}

.heading
{
  font-size: 24px;
  color : #0088cc;
  margin-top: 40px;
  line-height: 38px;
}

.btn
{
  margin-top: 30px;
  margin-right: 40px;
  font-weight: bold;
}

.titleBox
{
  width: 275px;
}

.titlePrint
{
  font-size: 12px;
}

.postTitle
{
  color: #0088cc;
  margin: 0 30px 0 30px;
}

textarea
{
  resize:none;
}

</style>
 <script>
      function validateForm(){
        validate_flag = true;
        var post_title = document.forms["post_form"]["title"].value.trim();
        var post_content = document.forms["post_form"]["content"].value.trim();
        post_length = post_title.length;
        content_length = post_content.length;
        if ((post_title == null || post_title == "")  && (post_content == null || post_content == "")){
          alert("Title and content of post is missing..!");
          validate_flag = false;
          return false;
        }
        else if (( post_title != null || post_title != "") && (post_content == null || post_content == "")){
          alert("Content of post is missing..!");
          validate_flag = false;
          document.getElementById("post_form_id").reset();
          return false;
        }
        else if (( post_content != null || post_content != "") && (post_title == null || post_title == "")){
          alert("Title of post is missing..!");
          validate_flag = false;
          document.getElementById("post_form_id").reset();
          return false;
        }
        if (post_length > 255){
          alert("You have exceed the word limit..!(max. 255)");
          validate_flag = false;
          document.getElementById("post_form_id").reset();
          return false;
        }
        if (content_length > 1000){
          alert("You have exceed the word limit..!(max. 1000)");
          validate_flag = false;
          document.getElementById("post_form_id").reset();
          return false;
        }
        if(validate_flag == true)
        {
          return true;
        }
      }
    </script>
</head>
  <body>
    <div class="header">
      <div class="container">
        <ul class="nav nav-pills">
          <li class = "active">
            <a class = "logo" href="/">WeBlog</a>
          </li>
          <li >
            <a href="/about">About Us</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
    </div>
    </div>

    <div class = "container row">
    <div class = "showPost offset6">
    <% @post.each do |post| %>
    <form method="post" name = "post_form" id="post_form_id" action="/post/<%=@id%>/update"  onsubmit = "return validateForm();">
        <h3 class="heading">Change Your Title</h3>
        <input name="title" type="text" class = "titleBox" placeholder = "<%=post['title']%>"/></br>
        <h3 class="heading">Change Your Mind Here!</h3>
        <textarea name="content" class="textbox" type= "text" placeholder = "<%=post['content']%>"></textarea>
        <input class= "btn btn-medium btn-primary span3" type ="submit" value="UPDATE"/>
      </form>
      <%end%>
      <form action = "/posts">
      <input class= "btn btn-medium btn-primary span3" type="submit" value="CANCEL"/>
      </form>
    </div>
    </div>
  </div>

    <div class="footer">
    <div class="container">
        <span class="copyright">&copy All rights reserved Weblog 2014</span>
    </div>
  </div>
  </body>
</html>