<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link rel="stylesheet" type="text/css" href=" http://getbootstrap.com/2.3.2/assets/css/bootstrap.css">
<link rel="icon" href="https://avatars2.githubusercontent.com/u/332874?v=2&s=200">
<link rel="stylesheet" type="text/css" href="public/css/test.css">
<style>
  .nav li a{
  font-size : 24px;
  color : #2A649;
}

.nav{
  margin-top : 10px;
}

.footer
{
  margin-top: 100px;
}

.footer ul li a{
  font-size : 14px;
  color : #000000;
}

.copyright{
  text-align : center;
  font-size : 14px;
  display : block;
}

.content ul li {
  bottom-margin : 10px;
}


 .textbox {
    border: 1px dotted #000000;
    outline:0;
    height:300px;
    width: 275px;
    display: block;
  }

.postButton
{
  margin-top: 10px;
  padding: 10px 10px;
}

.footer{
  border-top : solid 1px #000000;
}

.content
{
  margin-top: 60px;
}

.heading
{
  font-size: 48px;
  color : #234167;
  text-align: center;
  margin-top: 100px;
  line-height: 38px;
}

.messageHome
{
  font-size: 22px;
  text-align: center;
  margin-top: 40px;
}

.btn
{
  margin-top: 80px;
  margin-right: 40px;
  margin-left: 120px;
  padding: 30px 30px
}

.homeButton
{
  font-size: 24px;
}

</style>
</head>
  <body>
    <div class="container header">
        <ul class="nav nav-pills">
          <li class = "active">
            <a class = "logo" href="/">WeBlog</a>
          </li>
          <li >
            <a href="/about">About Us</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
    </div>
    <div class="container content">
      <div class = "span12">
      <h1 class = "heading">Welcome to WeBlog Application ! </h1>
      <p class = "messageHome">Connect With Your Friends.. Post !  Comment ! And Stay Coupled </p>
      <a class="btn btn-large btn-primary homeButton" type="button" href="/post/new">CREATE POST</a>
      <a class="btn btn-large btn-primary homeButton" type="button" href="/posts">DISPLAY POSTS</a>
    </div>
  </div>
    <div class="footer">
    <div class="container">
    <ul class="nav nav-pills">
          <li class = "active">
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About Us</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
        <span class="copyright">&copy All rights reserved Weblog 2014</span>
    </div>
  </div>
  </body>
</html>