<div class="content">
  <div class="container">
    <div class="row">
      <div class = "span12">
        <h1 class = "heading">Welcome to WeBlog Application ! </h1>
        <p class = "messageHome">Connect With Your Friends.. Post !  Comment ! And Stay Coupled </p>
      </div>
    </div>
    <div class="row btn-div">
        <a class="btn btn-large btn-primary homeButton span3 offset2" type="button" href="/post/new">CREATE POST</a>
        <a class="btn btn-large btn-primary homeButton span3 offset1" type="button" href="/posts">DISPLAY POSTS</a>
    </div>
  </div>
</div>