<!DOCTYPE html>
<head>
<title>Show</title>
<link rel="stylesheet" type="text/css" href=" http://getbootstrap.com/2.3.2/assets/css/bootstrap.css">
<link rel="icon" href="https://avatars2.githubusercontent.com/u/332874?v=2&s=200">
<style>
  .nav li a{
  font-size : 24px;
  color : #2A649;
}

.nav{
  margin-top : 10px;
}

.footer
{
  margin-top: 160px;
}

.footer ul li a{
  font-size : 14px;
  color : #000000;
}

.copyright{
  text-align : center;
  font-size : 14px;
  display : block;
}

.clearFix{
  float : none;
  clear : both;
}

.content ul li {
  bottom-margin : 10px;
}
.postList
{
  margin-top: 40px;
  font-size: 28px;
}

.postList li
{
  list-style: none;
}

.postList a
{
  text-decoration: none;
}

 .textbox {
    border: 1px dotted #000000;
    outline:0;
    height:300px;
    width: 275px;
    display: block;
  }

.postButton
{
  margin-top: 10px;
  padding: 10px 10px;
}

.footer{
  border-top : solid 1px #000000;
}

.content
{
  margin-top: 60px;
}

.heading
{
  font-size: 52px;
  color : 234167;
  text-align: center;
  margin-top: 160px;
  line-height: 38px;
}

.homeButton
{
  font-size: 24px;
}

.aboutButton
{
  font-size: 24px;
  margin-left: 280px;
}
</style>
</head>
  <body>
    <div class="container header">
        <ul class="nav nav-pills">
          <li class="active">
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About Us</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
    </div>
    <div class = "container">
      <div class="content">
        <ul class = "postList">
           <% @post.each do |post| %>
           <li>
            <a href ="/post/<%=post["id"]%>"> <%= post["title"] %> </a>
            <br>
           <a href ="/post/<%=post["id"]%>"> <%= post["content"] %> </a>
           </li>
          <% end %>
        </ul>
        <textarea type ="text" placeholder = "Comment here"></textarea></br>
        <input type= "submit" name ="comment_button" value="comment"></input>
      </div>
    </div>
    <div class="container footer">
      <ul class="nav nav-pills">
          <li>
            <a href="/">Home</a>
          </li>
        <li>
          <a href="/about">About Us</a>
        </li>
        <li>
          <a href="/contact">Contact Us</a>
        </li>
      </ul>
      <span class="copyright">&copy copyright 2014</span>
    </div>
  </body>
</html>